<div class="container bajar-2Percent">
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Escriba su nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" placeholder="Escriba su nickname">
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <!--TODO PENDIENTE A CAMBIARLO A UN SELECT-->
                <label for="country">Pais</label>
                <input type="text" class="form-control" id="country" placeholder="Escriba su pais">
            </div>
            <div class="form-group col-md-4">
                <label for="age">Edad</label>
                <input type="number" class="form-control" id="age" placeholder="Escriba su edad">
            </div>
            <div class="form-group col-md-4">
                <label for="dateBirth">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="dateBirth" placeholder="">
            </div>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Registrar</button>
    </form>
</div>


<!--
    Para el futuro select
                <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
            </div>
-->