<div class="container bajar-2Percent">
    <form method="POST" #formPlayer="ngForm">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="name" required [(ngModel)]="player.nombre" id="nombre" placeholder="Escriba su nombre">
            </div>
            <div class="form-group col-md-4">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" required name="nickname" [(ngModel)]="player.nickname" placeholder="Escriba su nickname">
            </div>
            <div class="form-group col-md-4">
                <label for="roles">Roles</label>
                <select id="roles" multiple class="form-control" required name="roles" [(ngModel)]="player.roles">
                    <option value="1">Senda Segura</option>
                    <option value="2">Senda Central</option>
                    <option value="3">Senda Lateral</option>
                    <option value="4">Apoyo</option>
                    <option value="5">Apoyo Primario</option>
                  </select>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <!--TODO INSERTAR LOS PAISES EN LA BBDD PARA EVITAR UN LISTADO DE HTML INNECESARIO-->
                <label for="country">Pais</label>
                <!--<input type="text" class="form-control" id="country" required name="country" [(ngModel)]="player.pais" placeholder="Escriba su pais">-->
                <select id="country" required name="country" [(ngModel)]="player.pais" class="form-control">
                    <option value="Afganistán">Afganistán</option>
                    <option value="Albania">Albania</option>
                    <option value="Alemania">Alemania</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Arabia Saudí">Arabia Saudí</option>
                    <option value="Argelia">Argelia</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Bélgica">Bélgica</option>
                    <option value="Perú">Perú</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="España">España</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="age">Edad</label>
                <input type="number" class="form-control" min="0" max="122" required name="age" [(ngModel)]="player.edad" placeholder="Escriba su edad">
            </div>
            <div class="form-group col-md-4">
                <label for="dateBirth">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="dateBirth" required name="datebirth" [(ngModel)]="player.fechaNacimiento" placeholder="">
            </div>
        </div>
        <button type="button" (click)="onSubmit()" [disabled]="!formPlayer.valid" class="btn btn-primary">{{accion}}</button>
    </form>
</div>


<!--
    Para el futuro select
                <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
            </div>
-->