<div class="container bajar-2Percent">
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="player.nombre" id="nombre" placeholder="Escriba su nombre">
            </div>
            <div class="form-group col-md-4">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="player.nickname" placeholder="Escriba su nickname">
            </div>
            <div class="form-group col-md-4">
                <label for="rol">Roles</label>
                <select id="roles" multiple class="form-control" name="roles" [(ngModel)]="player.roles">
                    <option value="1">Senda Segura</option>
                    <option value="2">Senda Central</option>
                    <option value="3">Senda Lateral</option>
                    <option value="4">Apoyo</option>
                    <option value="5">Apoyo Primario</option>
                  </select>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <!--TODO PENDIENTE A CAMBIARLO A UN SELECT-->
                <label for="country">Pais</label>
                <input type="text" class="form-control" id="country" name="country" [(ngModel)]="player.pais" placeholder="Escriba su pais">
            </div>
            <div class="form-group col-md-4">
                <label for="age">Edad</label>
                <input type="number" class="form-control" min="0" max="122" name="age" [(ngModel)]="player.edad" placeholder="Escriba su edad">
            </div>
            <div class="form-group col-md-4">
                <label for="dateBirth">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="dateBirth" name="datebirth" [(ngModel)]="player.fechaNacimiento" placeholder="">
            </div>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Registrar</button>
    </form>
</div>


<!--
    Para el futuro select
                <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
            </div>
-->