/* You can add global styles to this file, and also import other style files */

.centrar {
    margin-left: auto;
    margin-right: auto;
}

.bajar-2Percent {
    margin-top: 2%;
}

#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#list td,
#list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#list tr:hover {
    background-color: #ddd;
}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: gray;
    color: white;
}

.dotaforce-card {
    border-top-color: #5dcfe3 !important;
    border-top-width: 3px !important;
    font-size: 1rem;
    line-height: 1.25;
    background: #fff;
    color: #4b4b4b;
    margin-bottom: 1.5rem;
    border-radius: .17rem;
    box-shadow: none;
    font-weight: 400;
    margin-top: 30px;
}

.title-header {
    padding: 1.25rem;
    margin: auto;
    width: 96%;
    border-bottom: 1px solid #e7e7e7!important;
    margin-bottom: 20px!important;
}