<ng-content></ng-content>
<ng-container *ngIf="keyword=='players'">
    <tr *ngFor="let i of data">
        <td>{{i.nombre}}</td>
        <td>{{i.edad}}</td>
        <td>{{i.pais}}</td>
        <td>{{(i.fechaNacimiento==null?'sin Registrar':i.fechaNacimiento | date:'dd/MM/yyyy')}}</td>
        <td>{{i.nickname}}</td>
        <td><span *ngFor="let j of i.roles">{{j.denominacion}},</span></td>
        <td style="width:175px;">
            <button class="btn btn-info" [routerLink]="['/actions/checkPlayerResults',i.id]"><i class="fas fa-clipboard-list"></i></button>&nbsp;
            <a class="btn btn-info" [routerLink]="['/actions/editPlayer',i.id]"><i class="fas fa-user-edit"></i></a>&nbsp;
            <a class="btn btn-danger" (click)="deletePlayer(i.id)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <div style="color: antiquewhite !important;" *ngIf="(data!=undefined?data.length:null)==0">No hay resultados..</div>
</ng-container>

<ng-container *ngIf="keyword=='results'">
    <tr *ngFor="let i of data">
        <td>{{i.jugador.nickname}}</td>
        <td>{{i.heroe}}</td>
        <td>{{i.rol}}</td>
        <td>{{i.asesinatos}}</td>
        <td>{{i.muertes}}</td>
        <td>{{i.oroAcumulado}}</td>
        <td>{{i.resultado}}</td>
        <td>{{i.puntos}}</td>
        <td>{{(i.fechaPartida==null?'sin Registrar':i.fechaPartida | date:'dd/MM/yyyy')}}</td>
        <td style="width:125px;">
            <a class="btn btn-info" [routerLink]="['/actions/editResult',i.id]"><i class="fas fa-edit"></i></a> &nbsp;
            <a class="btn btn-danger" (click)="deleteResult(i.id)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    <div style="color: antiquewhite !important;" *ngIf="(data!=undefined?data.length:null)==0">No hay resultados..</div>
</ng-container>

<ng-container *ngIf="keyword=='users'">
    <!--TODO-->
</ng-container>

<ng-container *ngIf="keyword=='roles'">
    <!--TODO-->
</ng-container>