<!--Componente de registrarJugador-->
<ng-container *ngIf="accion=='addPlayer'">
    <app-register-player [edit]="false"></app-register-player>
</ng-container>

<ng-container *ngIf="accion=='editPlayer'">
    <app-register-player [edit]="true"></app-register-player>
</ng-container>

<!--Componente de registrarResultado-->
<ng-container *ngIf="accion=='addResult'">
    <app-register-result [edit]="false"></app-register-result>
</ng-container>

<ng-container *ngIf="accion=='editResult'">
    <app-register-result [edit]="true"></app-register-result>
</ng-container>

<ng-container *ngIf="accion=='checkPlayerResults'">
    <app-body-content [columNames]="columNames" [data]="results" keyword="results"></app-body-content>
    <div *ngIf="sumResult">
        <table id="list" class="centrar bajar-2Percent">
            <thead>
                <tr>
                    <th>Asesinatos Totales</th>
                    <th>Muertes Totales</th>
                    <th>Oro Total Acumulado</th>
                    <th>Puntos Totales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{totalAsesinatos}}</td>
                    <td>{{totalMuertes}}</td>
                    <td>{{totalOroAcumulado}}</td>
                    <td>{{totalPuntos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>


<!--Componente de AltaUsuario-->
<!--
<ng-container *ngIf="accion=='addUser'">
    <app-register-user></app-register-user>
</ng-container>
-->