<div class="row">
    <div class="col-md-12">
        <table id="list" class="centrar bajar-2Percent">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>nickname</th>
                    <th>rol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of jugadores">
                    <td>{{i.id}}</td>
                    <td>{{i.nombre}}</td>
                    <td>{{i.nickname}}</td>
                    <td>{{i.rol}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>